/* global styles */

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

p {
    margin: 0;
}

/* taskbar style */

#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: aqua;
}

#taskbar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#taskbar li {
    float: left;
    height: 50px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}
#taskbar li.open {
    border-bottom: 5px solid #000;
    box-sizing: border-box;
}
#taskbar li.focused {
    background-color: #ffffff8f;
}
#taskbar li:hover {
    background-color: #ffffffaf;
}

#taskbar li img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

#taskbar li.right {
    float: right;
}

#taskbar li.clock {
    width: fit-content;
}

.clock p {
    margin: 0;
}

#taskbar li.icon {
    width: 40px;
}

#taskbar li.icon img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

/* desktop style */

#desktop {
    position: fixed;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
}

/* startmenu style */

.startmenu {
    position: fixed;
    bottom: 50px;
    display: grid;
    grid-template-columns: min-content auto;
    background-color: #da2e2e;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.startmenu.closed {
    pointer-events: none;
    opacity: 0;
    transform: translate(0, 300px);
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.startmenunav {
    display: inline-flex;
    width: 150px;
    height: 100%;
    flex-direction: column-reverse;
}
.startmenunav .navitem {
    padding: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    float: bottom;
}
.startmenunav .navitem:hover {
    background-color: #ffffff8f;
}
.navitem img {
    width: 30px;
    height: 30px;
}
.navitem p {
    margin-left: 10px;
}

.startmenucontent {
    display: inline-flex;
    height: 100%;
}
.startmenucontent .grid {
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: 105px 105px 105px 105px;
    padding: 20px;
}

.startmenuitem {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #da2eff;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startmenuitem img {
    width: 60px;
    height: 60px;
}

.startmenuitem p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* window style */

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(69, 147, 73);
}

.topbar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.topbar li {
    float: left;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.topbar li.open {
    background-color: rgb(178, 215, 226);
}
.topbar li:hover:not(.open) {
    background-color: #ffffff6f;
}
.topbar li.close:hover {
    background-color: rgb(232, 17, 35);
}

.topbar li.right {
    float: right;
}
.topbar li.topbarnav {
    float: right;
    margin: 0;
    width: 40px;
}

.topbar li.decoration {
    background-color: transparent !important;
    cursor: default;
}

.window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 100px 150vh;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.window.minimized {
    transform: scale(0.2);
    transform-origin: 100px 150vh;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.window-content {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #241d1d;
    overflow: auto;
}

li.window-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.window-icon img {
    width: 24px;
    height: 24px;
}

/*  */