.fraudHub header {
    background-color: var(--snd-bkg-color);
    overflow: hidden;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.fraudHub main {
    display: grid;
    grid-template-columns: minmax(320px, 20%) minmax(480px, 80%);
    height: calc(100% - 60px);
}

.fraudHub nav {
    background-color: var(--snd-bkg-color);
    /* border-right: 1px solid var(--text-color); */
    width: 100%;
    height: 100%;
}

.fraudHub .form-nav {
    background-color: var(--bkg-color);
    color: var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.fraudHub .form-nav .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.fraudHub .form-nav .icon {
    width: 100px;
    height: 100px;
    position: relative;
}

.fraudHub .form-nav img {
    width: 100px;
}

.fraudHub .form-nav .overlay-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fraudHub .form-container {
    width: 100%;
    height: 100%;
}

.fraudHub .loading-img {
    width: 100%;
}

